doctype html
html
    head
        // Import Google Icon Font
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='/assets/css/styles.min.css', rel='stylesheet')
        // inject:vendor:css
        // endinject
        // inject:css
        // endinject
        // Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        block title
        block description
            meta(name='description', content='#{description}')
        include ./parts/adsense.jade
    body
        block body
        script(type='text/javascript', src='/vendors/js/vendors.min.js')
        script.
            hljs.initHighlightingOnLoad();
        // inject:vendor:js
        // endinject
        // inject:js
        // endinject