footer.page-footer
    .container
        .row
            .col.l6.s12
                h5.white-text Citation
                p.grey-text.text-lighten-4 La connaissance est la seule chose qui s'accroit lorsqu'on la partage.
            .col.l4.offset-l2.s12
                h5.white-text Follow me
                ul
                    li
                        a.grey-text.text-lighten-3(href='https://twitter.com/svermeille_com') Twitter
                    li
                        a.grey-text.text-lighten-3(href='https://plus.google.com/+S%C3%A9bastienVermeille') Google+
                    //li
                    //    a.grey-text.text-lighten-3(href='#!') RSS Feed
    .footer-copyright
        .container
            | Created by Sébastien Vermeille
            a.grey-text.text-lighten-4.right(href='https://creativecommons.org/licenses/by/4.0/') Licensed under Creative Commons Attribution 4.0