// Navbar goes here
header.navbar-fixed
   nav
       .nav-wrapper
           .container
               a.brand-logo(href='/')
                   i.material-icons code
                   | code.svermeille.com
               ul.right.hide-on-med-and-down
                   li
                       a(href='/pages/about.html') About